{{ define "title-change_password" }}Change Password{{ end }}

<form action="{{.URL}}" method="POST">
    {{ if .Message }}<p>{{ .Message }}</p>{{ end }}
    <input type="password" name="pw_original" placeholder="Current Password" /><br>
    <input type="password" name="pw_new" placeholder="New Password" /><br>
    <input type="submit" value="Change Password" />
</form>