<!doctype html>
<html>
    <head>
        <title>Outback Login</title>
    </head>
    <body>
        <form method="POST" action="{{.URL}}">
            {{ if .Message }}<p>{{.Message}}</p>{{ end }}
            <input type="text" name="user" placeholder="Username" value="" /><br>
            <input type="password" name="password" placeholder="Password" value="" /><br>
            {{ range $key, $value := .Vars }}
            <input type="hidden" name="{{ $key }}" value="{{ $value }}" />
            {{ end }}
            <input type="submit" value="Login" />
        </form>
    </body>
</html>